<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <button class="btn toggle-btn" (click)="toggleSidebar()">
      <i class="bi bi-arrow-left-right text-light font-weight-bold"></i>
    </button>
    

    <div class="dropdown align-items-sm-end me-4" >
      <a href="dropdownUser1" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="true">
          <img [src]="user.imagen ? user.imagen : '../../../assets/avatar.png'" alt="{{user.name}}" width="30" height="30" class="rounded-circle">
          <span class="d-none d-sm-inline mx-1">{{user.name}}</span>
      </a>
      
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow dropdown-menu-end" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="perfil">Perfil</a></li>
          <li>
              <hr class="dropdown-divider">
          </li>
          <li><button class="dropdown-item" (click)="logOut()">Sign out</button></li>
      </ul>

    </div>
  </div>
</nav>
