<div class="mt-5 ">
  <div class="row justify-content-center border-bottom border-2 w-100">
    <div class="col-auto">
      <button class="btn rounded-0" [class.selected]="!addProduct" (click)="showListProducts()">VER</button>
      <button class="btn rounded-0" [class.selected]="addProduct" (click)="showAddProductForm()">NUEVO</button>
    </div>
  </div>
  <div *ngIf="addProduct" class="mt-3" id="">
    <div class="container">
      <div class=" text-white text-center"
        style="background-color: #2e6da4; height: 45px; font-size: 20px; line-height: 45px;">
        Nuevo Producto
      </div>

      <form class="mb-5">
        <div class="mt-2 mb-3">
          <i class="bi bi-pencil-square"></i> INFORMACION BASICA
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3 border-bottom border-2 form-floating">
              <input type="text" id="nombre" class="form-control " name="nombre" [(ngModel)]="producto.nombre"
                placeholder="Ingrese el nombre del producto" required autocomplete="name">
              <label for="nombre">Nombre</label>  
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3 border-bottom border-2 form-floating">
              <input type="number" class="form-control" name="stock" [(ngModel)]="producto.stock"
                placeholder="Ingrese la cantidad" required>
              <label for="cantidad" class="form-label">Cantidad</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="mb-3 border-bottom border-2 form-floating">
              <input type="number" step="0.01" class="form-control" name="costo" [(ngModel)]="producto.costo"
                placeholder="Ingrese el costo" required>
              <label for="costo" class="form-label">Costo</label>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="mb-3 border-bottom border-2 form-floating">
              <input type="number" step="0.01" min="0" class="form-control" id="pvp" name="pvp" [(ngModel)]="producto.pvp"
                placeholder="PVP" pattern="-?[0-9.]*(\.[0-9]+)?"  required>
              <label for="pvp" class="form-label">PVP</label>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3 border-bottom border-2 form-floating">
              <label for="codigoBarras" class="form-label">Código de Barras</label>
              <input type="text" class="form-control" id="codigoBarras" placeholder="Ingrese el código de barras">
            </div>
          </div>
        </div>

        
        

        <div class="mb-3">
          <div class="mt-2 mb-3">
            <i class="bi bi-pencil-square"></i> DESCRIPCION
          </div>
          <textarea class="form-control bg-light rounded-0" placeholder="Leave a comment here" id="floatingTextarea"
            style="height: 100px" name="descripcion" [(ngModel)]="producto.descripcion"></textarea>
        </div>


        <div class="mt-2 mb-3">
          <i class="bi bi-pencil-square"></i> INFORMACION AVANZADA
        </div>
        <div class="row mb-3">
          <div class="col-md-4 d-flex align-items-center">
            
              <label for="proveedor" class="form-label me-2">Proveedor</label>
              <select class="form-select" name="proveedor_id" [(ngModel)]="producto.proveedor_id">
                <option selected>Seleccione un proveedor</option>
                <option *ngFor="let proveedor of proveedorList" [value]=proveedor.id>{{proveedor.nombre}}</option>
              </select>
          </div>
          <div class="col-md-4 d-flex align-items-center">
              <label for="categoria" class="form-label me-2">Categoría</label>
              <select class="form-select" name="categoria_id" [(ngModel)]="producto.categoria_id">
                <option selected>Seleccione una categoría</option>
                <option *ngFor="let categoria of categoriaList" [value]="categoria.id">{{categoria.nombre}}</option>
              </select>

          </div>

          <div class="col-md-4">
            <input type="file" accept=".jpg, .png, .jpeg" class="form-control" (change)="cargarImagen($event)" multiple>
          </div>
        </div>

        

        <div class=" text-center">
          <button type="submit" class="btn btn-primary mb-5 align-self-end rounded-5" (click)="crearProductos()"
            [disabled]="loading || imagenUp">
            <span><i class="bi bi-person-plus"> crear producto </i></span>
            <span *ngIf="loading"><i class="spinner-border spinner-border-sm" role="status"
                aria-hidden="true"></i></span>
          </button>
        </div>
      </form>


    </div>

  </div>


  <div *ngIf="listProduct" class="mt-3">

    <div class="container">
      <div class=" text-white text-center"
        style="background-color: #4cbb90; height: 45px; font-size: 20px; line-height: 45px;">
        lista de Productos
      </div>
      <div class="container mt-3">
        <div class="row">
          <div class="col">
            <div class="input-group  w-50 mb-3">
              <div class="border-bottom border-2">
                <input type="text" class="form-control" [(ngModel)]="filtro" (input)="buscarProductos()"
                  placeholder="Buscar usuarios">
              </div>

              <button class="btn" type="button" (click)="buscarProductos()"><i class="bi bi-search"></i></button>
            </div>
          </div>
        </div>
      </div>

      <div class="image-container">
        <div class="card image-column mb-3 me-1" *ngFor="let producto of productosList">
          <div class="m-2 image-wrapper">
            <img [src]="producto.imagen ? (producto.imagen) : '../../../assets/productos_back.png'" class="image"
              alt="Producto">
          </div>
          <div class="card-body">
            <h5 class="card-title">{{producto.nombre}}</h5>
            <h6 style="color: gray;">{{producto.categoria.nombre}}</h6>
            <h6>{{producto.stock}}</h6>
          </div>
          <div class="card-footer d-flex justify-content-between align-items-center">
            <h5 class="card-text">{{producto.pvp}} $</h5>
            <div class="dropdown">
              <button class="btn" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="bi bi-three-dots"></i>
              </button>
              <ul class="dropdown-menu bg-light" aria-labelledby="dropdownMenuButton">
                <li><button class="dropdown-item" (click)="asignarProducto(producto)" data-bs-toggle="modal" data-bs-target="#verProducto" >Ver</button></li>
                <li><button class="dropdown-item" (click)="eliminarProducto(producto.id)" >Eliminar</button></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>

</div>


<div class="modal fade" id="verProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{productoVer.nombre}}</h1>
      <button type="button" class="btn-close alin" (click)="cancelarEditar()" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="row">
          <!-- Columna de la imagen y descripción producto.imagen ? (producto.imagen) : '../../../assets/productos_back.png' -->
          <div class="col-md-4 mx-2 bg-light" style="width: 25%;">
            <div class="px-1">
            <div class="m-2 image-wrapper">
              <img [src]="productoVer.imagen ? (productoVer.imagen) : '../../../assets/productos_back.png'" alt="Imagen del producto" class="mb-3 rounded-5" style="max-width: 100%; height: 150px;">
            </div>
            <!-- Botón para editar la imagen -->
            <!-- <button class="btn btn-sm btn-primary position-absolute top-0 translate-middle" type="button">
              Editar imagen
            </button> -->
            <!-- Descripción del producto -->
            <h5>descripcion</h5>
            <p class="ms-2">{{productoVer.descripcion}}</p>
            </div>
           
          </div>
      
          <!-- Columna de la información del producto -->
          <div class="col-md-4 bg-light mx-2">
            <div class="px-1">
              <div class="d-inline"><h5 class="mb-3 d-inline">Información del producto </h5> <button (click)="editar()" class="btn d-inline bg-light"><i class="bi bi-pen d-inline" ></i></button></div>
              <p><strong>Costo:</strong> <input type="number" step="0.01" min="0" class="form-control d-inline w-50 py-0" [(ngModel)]="productoVer.costo" [disabled]="!edit" [ngClass]="{'edit-mode': edit}"></p>
              <p><strong>Precio:</strong> <input type="number" step="0.01" min="0" class="form-control  d-inline w-50 py-0" [(ngModel)]="productoVer.pvp" [disabled]="!edit" [ngClass]="{'edit-mode': edit}"></p>
              <p><strong>Stock:</strong> <input type="text" min="0" class="form-control  d-inline w-50 py-0" [(ngModel)]="productoVer.stock"></p>
              <p><strong>categoria:</strong> {{ productoVer.categoria?.nombre}}</p>
            <!-- Más información del producto según tus necesidades rounded-0 border-bottom-->
            </div>
            
          </div>
      
          <!-- Columna de la información del proveedor -->
          <div class="col-md-4 bg-light mx-2">
            <div class="px-1 ">
              <h5 class="mb-3">Información del proveedor</h5>
              <p><strong>Nombre:</strong> {{ productoVer.proveedor?.nombre}}</p>
              <p><strong>Teléfono:</strong> {{ productoVer.proveedor?.telefono_uno}}</p>
              <p><strong>Email:</strong> {{ productoVer.proveedor?.email}}</p>
              <p><strong>Dirección:</strong> {{ productoVer.proveedor?.direccion}}</p>
              <!-- Más información del proveedor según tus necesidades -->
            </div>
          </div>
        </div>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cancelarEditar()" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-secondary" (click)="cancelarEditar()" [disabled]="!edit">Cancelar edicion</button>
        <button type="button" class="btn btn-primary" (click)="actualizarProducto()" [disabled]="!edit">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>