<div class="mt-5 ">
    <div class="row justify-content-center border-bottom border-2 w-100">
      <div class="col-auto">
        <button  class="btn" [class.selected]="addUser" (click)="showAddUserForm()">NUEVO</button>
        <button  class="btn" [class.selected]="!addUser" (click)="showListUsers()">VER</button>
      </div>
    </div>
    <div *ngIf="addUser" class="mt-3" id="">
      <div class="container">
        <h2 class="mt-5 ms-4">Agregar Nuevo usuario</h2>
        <form>
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombres</label> <!--[ngModel]="producto.nombre"-->
            <input type="text" class="form-control" name="nombres" [(ngModel)]="user.name"  placeholder="ingrese el/los nombres" required>
          </div>
          
          <div class="mb-3">
            <label for="email" class="form-label">Correo Electronico (email)</label>
            <input type="email" step="0.01" class="form-control" name="email" [(ngModel)]="user.email" placeholder="ingrese el email" required>
          </div>
          <div class="mb-3">
            <label for="direccion" class="form-label">Dirección</label>
            <input type="text" class="form-control" name="direccion" [(ngModel)]="user.direccion" placeholder="ingrese la direccion">
          </div>
          <div class="mb-3">
            <label for="telefono_uno" class="form-label">telefono</label>
            <input type="tel" class="form-control" name="telefono" [(ngModel)]="user.telefono" placeholder="Ingrese el telefono principal">
          </div>
          <div class="mb-3">
            <label for="passworf" class="form-label">password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="user.password" placeholder="Ingrese el telefono secundario">
          </div>

          <div class="mb-3">
            <label for="imagen" class="form-label">imagen</label>
            <input type="file" accept=".jpg, .png, jepg" class="form-control" multiple (change)="cargarImagen($event)">
            <!-- <input type="file" class="form-control" name="imagen" (change)="onFileSelected($event)" accept="image/*" placeholder="Ingrese una imagen"> -->
          </div>

          <div class="mb-3">
            <label for="genero" class="form-label">rol</label>
            <select class="form-select"  name="genero"  [(ngModel)]="user.rol" >
              <option selected disabled>Seleccione el genero</option>
              <option value="administrador">Administrador</option>
              <option value="usuario">Usuario</option>
              <option value="contador">Contador</option>
              <option value="gerente">Gerente</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary" (click)="crearUsuario()">Agregar Cliente</button>
        </form>
      </div>
      
    </div>
  
  
    <div *ngIf="listUser" class="mt-3">
      <h2 class="mt-5 ms-4">Ver usuario</h2>
  
      <div class="container"> 
          <div class="container mt-5">
              <div class="row">
                  <div class="col">
                      <div class="input-group mb-3">
                          <input type="text" class="form-control" [(ngModel)]="filtro" (input)="buscarUsuarios()" placeholder="Buscar clientes">
                          <button class="btn btn-primary" type="button" (click)="buscarUsuarios()">Buscar usuarios</button>
                      </div>
                  </div>
              </div>
          </div>
          <!-- d-flex flex-wrap card-img-top img-fluid-->
          <div class="image-container">
              <div class="card image-column mb-3 me-1" *ngFor="let user of userList">
                  <div class="m-2 image-wrapper">
                      <img [src]="user.imagen ? (user.imagen) : '../../../assets/avatar.png'" class=" image" alt="usuario">
                  </div>
                  <div class="card-body">
                      <h5 class="card-title">{{user.name}}</h5>
                      <h6>{{user.email}}</h6>
                      <h6>{{user.rol}}</h6>
                      <!-- <p class="card-text">{{user.email}}</p>
                      <p class="card-text">{{user.rol}}</p> -->
                  </div>
                  <div class="card-footer d-flex justify-content-between align-items-center">
                      <h5 class="card-text">{{user.telefono}} $</h5>
                      <div class="dropdown">
                          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                              <i class="bi bi-three-dots"></i>
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <li><a class="dropdown-item" href="#">Editar</a></li>
                              <li><a class="dropdown-item" href="#">Eliminar</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
  </div>
  
  
