<div class="mt-5 ">
  <div class="row justify-content-center border-bottom border-2 w-100">
    <div class="col-auto">
      <button class="btn rounded-0" [class.selected]="!addUser" (click)="showListUsers()">VER</button>
      <button class="btn rounded-0" [class.selected]="addUser" (click)="showAddUserForm()">NUEVO</button>
    </div>
  </div>



  <div *ngIf="addUser" class="mt-3">
    <div class="container">

      <div class=" text-white text-center"
        style="background-color: #2e6da4; height: 45px; font-size: 20px; line-height: 45px;">
        Nuevo Usuario
      </div>

      <form>

        <div class="mt-2 mb-3">
          <i class="bi bi-pencil-square"></i> INFORMACION BASICA
        </div>

        <div class="row mb-2">
          <div class="col-md-6">
            <div class="mb-3 border-bottom border-2 form-floating">
              <input type="text" id="nombres" class="form-control " placeholder="nombres" name="nombres"
                [(ngModel)]="user.nombres" required>
              <label for="nombres">Nombres</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3 border-bottom border-2 form-floating form-floating-label-disabled-color:">
              <input type="text" id="apellidos" class="form-control " name="apellidos" [(ngModel)]="user.apellidos"
                placeholder="Ingrese los apellidos" required autocomplete="name">
              <label for="apellidos">Apellidos</label>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <div class="mb-3 border-bottom border-2 form-floating">
              <input type="text" id="cedula" class="form-control" name="cedula" [(ngModel)]="user.cedula"
                placeholder="Ingrese el costo" required>
              <label for="cedula" class="form-label">Cedula</label>
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="mb-3 border-bottom border-2 form-floating">
              <input type="text" class="form-control" id="name" name="name" [(ngModel)]="user.name" placeholder="name"
                required>
              <label for="name" class="form-label">Usuario</label>
            </div>
          </div>
        </div>

        <!--  -->

        <div class="mb-3">
          <i class="bi bi-pencil-square"></i> INFORMACION DE CONTACTO
        </div>
        <div class="row mb-3">
          <div class="col-md-4">
            <div class="mb-3 border-bottom border-2 form-floating">
              <input type="text" class="form-control" id="direccion" name="direccion" placeholder="direccion"
                [(ngModel)]="user.direccion">
              <label for="direccion">Dirección</label>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3 border-bottom border-2 form-floating">
              <input type="text" class="form-control" id="telefono_uno" placeholder="telefono uno" name="telefono_uno"
                [(ngModel)]="user.telefono">
              <label for="telefono_uno">Telefono</label>
            </div>
          </div>

          <div class="col-md-4 ">
            <div class="mb-3 border-bottom border-2 form-floating">
              <input type="text" class="form-control" id="email" name="email" [(ngModel)]="user.email"
                placeholder="email" required>
              <label for="email" class="form-label">Email</label>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <i class="bi bi-pencil-square "></i> Administracion
        </div>
        <div class="row">
          <div class="mb-3 col-md-6 d-flex align-items-center">
            <label for="rol" class="form-label me-2">rol </label>
            <select class="form-select flex-grow-1" id="rol" name="rol" [(ngModel)]="user.rol">
              <option selected disabled>Seleccione el genero</option>
              <option value="administrador">Administrador</option>
              <option value="usuario">Usuario</option>
              <option value="contador">Contador</option>
              <option value="gerente">Gerente</option>
            </select>
          </div>


          <div class="mb-3 col-md-6 d-flex align-items-center">
            <!-- <label for="imagen" class="form-label">imagen</label> -->
            <input type="file" accept=".jpg, .png, jepg" placeholder="foto de perfil" class="form-control" multiple
              (change)="cargarImagen($event)">
          </div>

        </div>

        <div class=" text-center">
          <button type="submit" class="btn btn-primary mb-5 align-self-end rounded-5" (click)="crearUsuario()"
            [disabled]="loading">
            <span><i class="bi bi-person-plus"> crear usuario </i></span>
            <span *ngIf="loading"><i class="spinner-border spinner-border-sm" role="status"
                aria-hidden="true"></i></span>
          </button>
        </div>

      </form>
      <hr>
    </div>

  </div>


  <div *ngIf="listUser" class="mt-3">


    <div class="container">
      <div class=" text-white text-center"
        style="background-color: #4cbb90; height: 45px; font-size: 20px; line-height: 45px;">
        lista de usuarios
      </div>
      <div class="container mt-3">
        <div class="row">
          <div class="col">
            <div class="input-group  w-50 mb-3">
              <div class="border-bottom border-2">
                <input type="text" class="form-control" [(ngModel)]="filtro" (input)="buscarUsuarios()"
                  placeholder="Buscar usuarios">
              </div>

              <button class="btn" type="button" (click)="buscarUsuarios()"><i class="bi bi-search"></i></button>
            </div>
          </div>
        </div>
      </div>
      <!-- d-flex flex-wrap card-img-top img-fluid-->
      <div class="container mt-3">
        <ul class="list-group mb-1 me-1" *ngFor="let user of userList">
          <li class="list-group-item d-flex justify-content-between align-items-center bg-light">
            <div>
              <div>{{ user.name }} {{user.apellidos}}</div>
              <div class="fw-lighter text-primary">{{user.email}}</div>

            </div>
            <div class="dropdown">
              <button class="btn" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#" (click)="asignarUser(user)" data-bs-toggle="modal"
                    data-bs-target="#verUser">Ver</a></li>
                <li><a class="dropdown-item" href="#">Eliminar</a></li>
              </ul>
            </div>
          </li>

        </ul>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="verUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{user.nombres}} {{user.apellidos}}</h1>
        <button type="button" class="btn-close alin" (click)="[cerrar()]" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="row">
          <!-- Columna de la imagen y descripción producto.imagen ? (producto.imagen) : '../../../assets/productos_back.png' -->
          <div class="col-md-5 ms-5 me-4 bg-light">
            <div class="px-1">
              <div class="m-2 image-wrapper">
                <img [src]="user.imagen ? (user.imagen) : '../../../assets/avatar.png'" alt="Imagen del Usuario"
                  class="mb-3 rounded-5" style="max-width: 100%; height: 150px;">
              </div>
              <!-- Botón para editar la imagen -->
              <!-- <button class="btn btn-sm btn-primary position-absolute top-0 translate-middle" type="button">
              Editar imagen
            </button> -->
              <!-- Descripción del producto -->
              <h5>User name</h5>
              <p class="ms-2">{{user.name}} </p>
            </div>

          </div>

          <!-- Columna de la información del cliente-->
          <div class="col-md-5 bg-light me-1">
            <div class="px-1 mt-2">
              <div class="d-inline">
                <h5 class="mb-3 d-inline">Información del Usuario </h5> 
              </div>
              <p><strong>Cedula:</strong> <input type="text" class="form-control d-inline w-50 py-0"
                  [(ngModel)]="user.cedula"></p>
              <p><strong>Email:</strong> <input type="text" class="form-control  d-inline py-0" [(ngModel)]="user.email"
                  style="width:auto"></p>
              <p><strong>Telefono:</strong> <input type="text" class="form-control  d-inline w-50 py-0"
                  [(ngModel)]="user.telefono"></p>
              <p><strong>Rol:</strong> {{ user.rol}}</p>
              <!-- Más información del producto según tus necesidades rounded-0 border-bottom : cliente.telefono_uno ? 'no registrado'-->
            </div>

          </div>

        </div>
      </div>

      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" (click)="[cerrar()]" data-bs-dismiss="modal">Cerrar</button> -->
        <!-- <button type="button" class="btn btn-secondary" (click)="cancelarEditar()" [disabled]="!edit">Cancelar edicion</button> -->
        <button type="button" class="btn btn-primary">Aceptar</button>
      </div>
    </div>


  </div>
</div>