<div class="mt-5 ">
  <div class="row justify-content-center border-bottom border-2 w-100">
    <div class="col-auto">
      <button class="btn rounded-0" [class.selected]="addCategory" (click)="showAddCategoryForm()">NUEVO</button>
      <button class="btn rounded-0" [class.selected]="!addCategory" (click)="showListCategories()">VER</button>
    </div>
  </div>


  <div *ngIf="addCategory" class="mt-3">
    <div class="container">

      <div class=" text-white text-center"
        style="background-color: #2e6da4; height: 45px; font-size: 20px; line-height: 45px;">
        Nueva Categoría
      </div>

      <form>

        <div class="mt-2 mb-3">
          <i class="bi bi-pencil-square"></i> INFORMACION BASICA
        </div>

        <div class="row mb-2">
          <div class="col-md-6">
            <div class="mb-3 border-bottom border-2 form-floating">
              <input type="text" id="nombres" class="form-control" placeholder="nombre" name="nombre"
                [(ngModel)]="category.nombre" required>
              <label for="nombres">Nombre</label>
            </div>
          </div>

        </div>

        <div class="mb-3">
          <div class="mt-2 mb-3">
            <i class="bi bi-pencil-square"></i> DESCRIPCION
          </div>
          <textarea class="form-control bg-light rounded-0" placeholder="Deje su descripcion aquí..." id="floatingTextarea"
            style="height: 100px" name="descripcion" [(ngModel)]="category.descripcion"></textarea>
        </div>

        <div class=" text-center">
          <button type="submit" class="btn btn-primary mb-5 align-self-end rounded-5" (click)="crearCategoria()"
            [disabled]="loading">
            <span><i class="bi bi-person-plus"> crear categoria </i></span>
            <span *ngIf="loading"><i class="spinner-border spinner-border-sm" role="status"
                aria-hidden="true"></i></span>
          </button>
        </div>

      </form>
      <hr>
    </div>

  </div>


  <div *ngIf="listCategory" class="mt-3">
    <div class="container">

      <div class=" text-white text-center"
        style="background-color: #4cbb90; height: 45px; font-size: 20px; line-height: 45px;">
        Lista de Categorias
      </div>
      <div class="container mt-3">
        <div class="row">
          <div class="col">
            <div class="input-group  w-50 mb-3">
              <div class="border-bottom border-2">
                <input type="text" class="form-control" [(ngModel)]="filtro" (input)="buscarCategorias()"
                  placeholder="Buscar categoria">
              </div>

              <button class="btn" type="button" (click)="buscarCategorias()"><i class="bi bi-search"></i></button>
            </div>
          </div>
        </div>
      </div>

      <div class="container mt-3">
        <ul class="list-group mb-1 me-1" *ngFor="let category of categoryList">
          <li class="list-group-item d-flex justify-content-between align-items-center bg-light">
            <div>
              <div>{{ category.nombre }}</div>

            </div>
            <div class="dropdown">
              <button class="btn" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">Editar</a></li>
                <li><a class="dropdown-item" href="#">Eliminar</a></li>
              </ul>
            </div>
          </li>

        </ul>

      </div>
    </div>
  </div>

</div>