.btn {
  border: none;
  /* background: none; */
  text-decoration: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  /* margin-right: 1rem; */
  position: relative;
}

.btn:hover {
  background: linear-gradient(to bottom, #9fd1fb 0%, #2e6da4 100%);
}

.btn.selected::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #2e6da4;
}

.edit-mode {
  background-color: lightyellow; /* Cambia el color de fondo a amarillo claro */
}

.form-control{
  background-color: transparent;
  border: none;
}

.form-control:focus {
  box-shadow: none;
}


.form-select:focus{
box-shadow: none;
}

.scrollable-div {
  max-height: 200px; /* Ajusta la altura máxima según tus necesidades */
  overflow-y: auto; /* Permite el scroll solo en el eje y */
  /*border: 1px solid #ccc;  Opcional: añade un borde para visualizar mejor el div */
  padding: 15px; /* Opcional: añade padding para el contenido */
}